{
  "plugins": [
    "transform-runtime",
    "transform-strict-mode"
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true
      },
      "modules": false
    }]
  ]
}